#overlay
{
    display: table;
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(100, 0, 0, 0.3);
    box-shadow: 0 0 400px rgba(50, 0, 0, 0.9) inset;

}

#overlay-text
{
    display: table-cell;
    margin: auto;
    font-size: 4rem;
    font-family: monospace;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    color: #ffddee;

}

body
{
    border: none;
    margin: 0px;
}

#instructions
{
    margin: 10px;
    position: absolute;
    font-family: monospace;
    color: #333366;
}

#log-wrapper
{
    margin: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: monospace;
    text-align: right;
    color: #333366;
}

#log1
{
    font-size: 1.0rem;
}

#log2
{
    font-size: 0.8rem;
}

#log3
{
    font-size: 0.6rem;
}
